* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    height:100vh;
    margin:0px;
    box-sizing: border-box;
    width:100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    overscroll-behavior: none;
}

.app {
    width: 100vw;
    height: 100vh;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    overflow: hidden;
    box-sizing: border-box;
    overscroll-behavior: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.launchoverlay {
    width: 100vw;
    height: 100vh;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    background-color: #59b3cd;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}

.dicecontainer {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: env(safe-area-inset-top, 0px);
    left:  env(safe-area-inset-left, 0px);
}

.diceouter {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    position: absolute;
    transform: scaleX(0);
    left: 50%;
    top: calc(-1 * env(safe-area-inset-top, 0px));
    outline-color: #FFF;
    outline-style: solid;
    outline-width: 0px;
}

.diceinner {
    position: absolute;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dot {
    background-color: #FFF;
    position: absolute;
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

.textnumber {
    display: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40vw;
    font-weight: bold;
}

.topleftdot {
    transform: translate(-125%, -125%);
}

.toprightdot {
    transform: translate(125%, -125%);
}

.midleftdot {
    transform: translate(-125%, 0%);
}

.midrightdot {
    transform: translate(125%, 0%);
}

.bottomleftdot {
    transform: translate(-125%, 125%);
}

.bottomrightdot {
    transform: translate(125%, 125%);
}

.topmiddot {
    transform: translate(0%, 125%);
}

.bottommiddot {
    transform: translate(0%, -125%);
}

.settingscogcontainer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 5vh;
    min-width: 10vw;
    padding: 0 5vw 5vw 0;
}

.settingscog {
    width: 100%;
}

.settingscogblack {
    display: none;
}

.settingscontainer {
    width: 82vw;
    border-radius: 5vw;
    max-height: 82vh;
    background-color: #FFF;
    position: absolute;
    z-index: 2;
    display: none;
    box-sizing: border-box;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    display: none;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    top: calc(-1 * env(safe-area-inset-top, 0px));
}

.invisibleoverlay {
    opacity: 0;
    z-index: 3;
}

.settingstitle {
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 1px solid #808080;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingrow {
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

.backsettingrow {
    justify-content: unset;
}

.settingsmainmenu .settingrow:last-child {
    border-bottom: none;
}

.settingslistcontainer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.settingsmainmenu {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.settingssubmenu {
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    left: 100%;
    top: 0px;
    background-color: #FFF;
}

.showrateapp {
    justify-content: center;
    color: #3478f5;
    display: none;
}

.closesettings {
    border-top: 1px solid #808080;
    border-bottom: 0;
    bottom: 0;
    justify-content: center;
    color: #ea4f3d;
    background-color: #FFF;
}

.removeads,
.restorepurchases {
    justify-content: center;
    color: #3478f5;
    display: none;
}

.settingvalue {
    float: right;
    color: #808080;
}

.chevron {
    border-top: 2px solid #808080;
    border-right: 2px solid #808080;
    width: 7px;
    height: 7px;
}

.rightchevron {
    float: right;
    transform: rotate(45deg);
    margin-right: 2px;
}

.leftchevron {
    transform: rotate(-135deg);
    margin-right: 5px;
    border-color: #3478f5;
}

.settingback {
    color: #3478f5;
}

.hiddenselect {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.textoverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 15vw;
    position: absolute;
    width: fit-content;
    text-align: center;
    padding: 5vw;
    border-radius: 5vw;
    top: 44vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: bold;
    display: none;
}

.dice-1 {
    background-color: #f63f3f;
}

.dice-2 {
    background-color: #d88d35;
}

.dice-4 {
    background-color: #8acd59;
}

.dice-5 {
    background-color: #59b3cd;
}

.dice-6 {
    background-color: #8c64bd;
}

.dice-3 {
    background-color: #dad251;
}

.dice-7 {
    background-color: #dc4dc9;
}

.dice-8 {
    background-color: #6db278;
}

.dice-9 {
    background-color: #895f43;
}

.hiddenassets {
    display: none;
}

.switch {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 50px;
    height: 30px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .25s;
    transition: .25s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .25s;
    transition: .25s;
}
  
input:checked + .slider {
    background-color: #65c466;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #65c466;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.voiceoveralert {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1px;
    height: 1px;
}

.lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 38px;
}
.lds-ellipsis div {
    position: absolute;
    top: 13.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ccc;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
  
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* German Specific Styles */

.de {
    font-size: 1rem;
}

.de .totaltextoverlay {
    font-size: 10vw;
    top: 46vh;
}

.de .switch {
    top: 3px;
}

/* Spanish Specific Styles */

.es {
    font-size: 1rem;
}

.es .switch {
    top: 3px;
}

/* Portugese Specific Styles */

.pt {
    font-size: 1rem;
}

.pt .switch {
    top: 3px;
}

.pt .settingscontainer {
    width: 88vw;
    left: 6vw;
}

/* French Specific Styles */

.fr .rollingtextoverlay {
    font-size: 10vw;
    top: 46vh;
}